
.headerFondo {
  background-image: url(../img/fondo\ banda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.oscurecerFondo {
  width: 100%;
  height: 100%;
  background-color:$oscurecer-fondo;
}

.contenedorSuperiorHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.menu li {
  margin: 0 15px;
  /* espacio entre enlaces */
}

.menu a {
  text-decoration: none;
  color: $color-naranja;
  font-weight: bold;
  font-size: 20px;
}

.menu a:hover {
  text-decoration: underline;
}