
.integrantesFlexContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contenedorDiscos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.contenedorDiscos section {
  width: 100%;
  max-width: 400px;
  background-color: #f0ecec;
  padding: 1rem;
  border-radius: 8px;
}

.textoCentrado {
  @extend %texto-centrado;
}

.contenedor {
  @extend %texto-centrado;
}

.imagenBanda {
  @extend %imagen-ajustada;
}

.tamañoTexto {
  @include texto(1.2rem, #000);
}

.cursiva {
  font-style: italic;
}

.tamañoPie {
  @include texto(1rem, #444);
}

  .tamañoImagen {
    @extend %imagen-ajustada;
    height: 250px;
  }

 .imagenDisco {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 1rem auto;
  }



.sinPuntos {
  list-style: none;
  /* Elimina la sangria  */
  padding-left: 0;
}

.link {
  @extend %texto-naranja;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.tamañoInput {
  width: 25rem;
  font-size: 1rem;
}

.tamañoBoton {
  width: 20;
  font-size: 1rem;
}